
/*
	#home{
		height: 70vh;
		width: 100vw;
		
		
		
		
	}
	#ada{
		border-radius: 100%;
		height: 250px;
		width: 250px;
	}
	h2{
		text-decoration: underline;
		text-decoration-color:  #cdebf9 ;
		

	}

	#about-p{
		margin: 1px 23.5% 1px 23.5%;

	}

	#footer{
		height: 7vh;
	}

	#firstimg{
		height: 150px ;
		width: 250px ;


	}

	#secondimg{
		height: 150px ;
		width: 250px ;
	

	}

	#thirdimg{
		height: 150px ;
		width: 250px ;

	}

	#projects{
		height:57vh;
		
		width: 100vw;
	}

	#firstbox{

				display: inline-block;

					height: 300px;
				width: 320px;

	}

	#secondbox{
				display: inline-block;
					height: 300px;
				width: 320px;
	}

	#thirdbox{
				display: inline-block;
				height: 300px;
				width: 320px;

			}

*/